<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="menu">
        <div class="menu-content">
            <a href="/home"><img src="{{ url_for('static', filename='image/history.png') }}" alt="History Icon"> History</a>
            <br>
            <a href="/upload"><img src="{{ url_for('static', filename='image/upload.png') }}" alt="Upload Icon"> Upload</a>
            <br>
            <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='image/logout.png') }}" alt="Logout Icon"> Logout</a>
            <div class="user-info">
                <img src="{{ url_for('static', filename='image/hp.jpg') }}" alt="User Picture">
                <p>{{ username }}</p>
            </div>
        </div>
    </div>
    <div class="main">
        <h1>Upload</h1>
        <br>
        <form class="upload-form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <input class="upload-form-input" type="text" name="title" placeholder="Song Title" required>
            <br>
            <input class="upload-form-input" type="text" name="author" placeholder="Author" required>
            <br>
            <input class="upload-form-input" type="text" name="album" placeholder="Album" required>
            <br>
            <input class="upload-form-input" type="file" name="file">
            <br>
            <input class="upload-form-input" type="submit" value="Upload a song" class="button">
        </form>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <h2>Latest Uploads</h2>
        <div class="latest-uploads">
            {% for upload in latest_uploads %}
            <div class="upload">
                <h3>{{ upload.title }}</h3>
                <p>Artist: {{ upload.author }} </p>
                <p>Album: {{ upload.album }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>