<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('history') }}">History</a>
        <br>
        <a href="{{ url_for('upload') }}">Upload</a>
        <br>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <div class="main">
        <input class="search-bar" type="text" placeholder="Search">
        <div class="songs">
            <!-- Display songs here -->
        </div>
    </div>
</body>
</html>