<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="menu">
        <div class="menu-content">
            <a href="{{ url_for('history') }}"><img src="{{ url_for('static', filename='history.png') }}" alt="History Icon"> History</a>
            <br>
            <a href="{{ url_for('upload') }}"><img src="{{ url_for('static', filename='upload.png') }}" alt="Upload Icon"> Upload</a>
            <br>
            <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='logout.png') }}" alt="Logout Icon"> Logout</a>
            <div class="user-info">
                <img src="{{ url_for('static', filename='hp.jpg') }}" alt="User Picture">
                <p>{{ username }}</p>
            </div>
        </div>
    </div>
    <div class="main">
        <input class="search-bar" type="text" placeholder="Search">
        <div class="songs">
            <!-- Display songs here -->
        </div>
    </div>
</body>
</html>