<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='pp.jpg') }}" alt="Logo">
        <h2>Login</h2>
        <form action="{{ url_for('login') }}" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <p style="text-align: right; font-size: 0.8em;">Don't have an account yet? <a href="{{ url_for('register') }}" style="color: blue;">Register here.</a></p>
    </div>
</body>
</html>