<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='image/hp.jpg') }}" alt="Logo">
        <h2>Register</h2>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            {% if error %}
                <p style="font-size: 0.8em; color:red;" class="error">{{ error }}</p>
            {% endif %}
            <input type="submit" value="Register">
        </form>
        <p style="text-align: right; font-size: 0.8em;">Already Have an account? <a href="https://localhost/user/login" style="color: blue;">Log in.</a></p>
    </div>
</body>
</html>